@import "../public/colors.scss";
@import "../public/function.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: $background-color;
  color: $text-color;
  padding: 0 30px;
}

@include desktop {
  body {
    max-width: 1280px;
    margin: auto;
  }
}
