@import '../public/colors.scss';

.homePageContainer {
	.titles {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		p {
			font-size: 25px;
			color: $secondary-color;
			font-weight: bold;
		}
	}
}
